doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1= title
    main
      p= message
      p Connect with your community to share food and reduce waste.
    footer
      p &copy; 2026 Group Balen
